@elexisvenator:registry=https://npm.pkg.github.com

#
# pnpm settings
#

# missing peer dependencies are treated as errors not warnings
strict-peer-dependencies=true 
# newly installed packages will have no version prefix (default is '^')
save-exact=true
