<form class="{{cssClass}} d-flex flex-column" autocomplete="off">
  <section class="sheet-body">

    <div class="d-flex flex-wrap justify-content-evenly">
      <div class="flex-grow-1 d-flex">
        <div class="m-1 align-self-stretch avatar-small">
          <img src="{{item.img}}" data-edit="img" />
        </div>
        <div class="d-flex flex-grow-1 flex-column">
          <div class="form-floating p-1">
            <input
              type="text"
              class="form-control"
              id="item.name"
              name="name"
              placeholder="{{localize 'cpred.sheet.name'}}"
              value="{{item.name}}"
            />
            <label for="item.name">{{localize "cpred.sheet.name"}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex p-1"><h3>Attributes</h3></div>
    <div class="d-flex flex-wrap justify-content-between statblock">
      {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.labels.cost" path="attributes.cost.value" type="number"}}
      {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.labels.count" path="attributes.count.value" type="number"}}

      <div class="flex-grow-1 flex-column p-1">
        <label for="data.attributes.type.value">{{localize "cpred.sheet.labels.ammunition_size_type"}}</label>
        <select class="form-select" name="data.attributes.type.value">
          {{selectOptions sizeTypeList selected=data.attributes.type.value localize=true}}
        </select>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="editor-box p-1">
        <div class="header">Effect</div>
        {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
      </div>
      <div class="editor-box p-1">
        <div class="header">Description</div>
        {{editor content=data.details.effect.value target="data.details.effect.value" button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>
