<form class="{{cssClass}} d-flex flex-column" autocomplete="off">
  <div class="d-flex flex-wrap justify-content-evenly">
    <div class="flex-grow-1 d-flex">
      <div class="m-1 align-self-stretch avatar-small">
        <img src="{{item.img}}" data-edit="img" />
      </div>
      <div class="d-flex flex-grow-1 flex-column">
        <div class="form-floating p-1">
          <input
            type="text"
            class="form-control"
            id="actor.name"
            name="name"
            placeholder="{{localize 'cpred.sheet.name'}}"
            value="{{item.name}}"
          />
          <label for="actor.name">{{localize "cpred.sheet.name"}}</label>
        </div>
        <div class="p-1 d-flex flex-grow-1">
          {{> "systems/cpred/templates/partials/attribute-select.html"
            root=item
            name="cpred.sheet.labels.armorType"
            path="attributes.type.value"
            choices=armorTypes
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap statblock justify-content-between">
    {{> "systems/cpred/templates/partials/actor-resource.html"
      resource=data.attributes.stoppingPower
      resourcePath="data.attributes.stoppingPower"
      name="cpred.sheet.labels.stoppingPower"
    }}
    <div class="d-flex">
      {{> "systems/cpred/templates/partials/attribute-input.html"
        root=item
        name="cpred.sheet.labels.cost"
        path="attributes.cost.value"
        type="number"
      }}
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-left">
    <label for="data.attributes.type.value">Nothing</label>
    <select class="form-select" name="data.attributes.location.value">
      {{selectOptions armorLocations selected=data.attributes.location.value localize=true}}
    </select>
  </div>

  <div class="d-flex flex-column">
    <div class="editor-box p-1">
      <div class="header">{{localize "cpred.sheet.labels.description"}}</div>
      {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>