<form class="{{cssClass}}" autocomplete="off">
  <ul class="nav nav-fill nav-tabs primary-tabs" data-group="primary-tabs">
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-description">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-combat">Combat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-gear">Gear</a>
    </li>
  </ul>

  <div class="mt-2"></div>

  <section class="sheet-body">
    <div class="tab" data-tab="tab-description" data-group="primary-tabs">
      {{> "systems/cpred/templates/partials/character-description-tab.html"}}
    </div>

    <div class="tab" data-tab="tab-skills" data-group="primary-tabs">
      {{> "systems/cpred/templates/partials/character-skills-tab.html"}}
    </div>

    <div class="tab" data-tab="tab-combat" data-group="primary-tabs">
      {{> "systems/cpred/templates/partials/character-combat-tab.html"}}
    </div>

    <div class="tab" data-tab="tab-gear" data-group="primary-tabs">
      {{> "systems/cpred/templates/partials/character-gear-tab.html"}}
    </div>
  </section>
</form>
