<form class="{{cssClass}} d-flex flex-column" autocomplete="off">
  {{!-- Weapon Sheet Navigation --}}
  <ul class="nav nav-fill nav-tabs primary-tabs" data-group="primary-tabs">
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-description">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-tab="tab-combat">Combat</a>
    </li>
  </ul>

  {{!-- Weapon Sheet Body --}}
  <section class="sheet-body">
    {{! Description tab }}
    <div class="tab" data-tab="tab-description" data-group="primary-tabs">
      {{> "systems/cpred/templates/partials/weapon-description-tab.html" }}
    </div>

    {{! Combat tab}}
    <div class="tab" data-tab="tab-combat" data-group="primary-tabs">{{> "systems/cpred/templates/partials/weapon-combat-tab.html" }}</div>
  </section>
</form>
