<div class="d-flow justify-content-between">
  {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.hp resourcePath="data.attributes.hp"
  name="cpred.sheet.health" disableMax=true}}
  {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.stats.luck resourcePath="data.stats.luck"
  name="cpred.sheet.luck" linkMax=false disableMax=true}}
</div>

<hr/>

{{#each gearblock as |gear|}}
  {{#if (eq gear.type "weapon")}}
  <div class="p-1"><h3>{{gear.name}}</h3></div>
  {{#each (weaponActions gear) as |attack|}}
    {{> "systems/cpred/templates/partials/weapon-attack.html" attack=attack item_id=gear.id}}
  {{/each}}
  {{/if}}
{{/each}}