<div class="flex-grow-1 d-flex">
  <div class="m-1 align-self-stretch avatar-small">
    <img src="{{actor.img}}" data-edit="img" />
  </div>
  <div class="d-flex flex-grow-1 flex-column">
    <div class="form-floating p-1">
      <input
        type="text"
        class="form-control"
        id="actor.name"
        name="name"
        placeholder="{{localize 'cpred.sheet.name'}}"
        value="{{actor.name}}"
      />
      <label for="actor.name">{{localize "cpred.sheet.name"}}</label>
    </div>
    <div class="d-flex">
      <div class="p-1 flex-grow-1">
        {{> "systems/cpred/templates/partials/attribute-input.html" root=actor name="cpred.sheet.labels.money" path="attributes.money.value" type="number"}}
      </div>
      <div class="p-1 flex-grow-1">
        {{> "systems/cpred/templates/partials/attribute-input.html" root=actor name="cpred.sheet.labels.improvement_points" path="attributes.improvementPoints.value" type="number"}}
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <div class="editor-box p-1">
    <div class="header">Description</div>
    {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
  </div>
</div>

<div class="d-flex p-1"><h3>Stats</h3></div>

<div class="d-flex flex-row">
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.int.value"
      id="data.stats.int.value"
      class="form-control"
      value="{{data.stats.int.value}}"
      placeholder="x"
    /><label for="data.stats.int.value" class="form-label">INT</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.ref.value"
      id="data.stats.ref.value"
      class="form-control"
      value="{{data.stats.ref.value}}"
      placeholder="x"
    /><label for="data.stats.ref.value" class="form-label">REF</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.dex.value"
      id="data.stats.dex.value"
      class="form-control"
      value="{{data.stats.dex.value}}"
      placeholder="x"
    /><label for="data.stats.dex.value" class="form-label">DEX</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.tech.value"
      id="data.stats.tech.value"
      class="form-control"
      value="{{data.stats.tech.value}}"
      placeholder="x"
    /><label for="data.stats.tech.value" class="form-label">TECH</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.cool.value"
      id="data.stats.cool.value"
      class="form-control"
      value="{{data.stats.cool.value}}"
      placeholder="x"
    /><label for="data.stats.cool.value" class="form-label">COOL</label>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.will.value"
      id="data.stats.will.value"
      class="form-control"
      value="{{data.stats.will.value}}"
      placeholder="x"
    /><label for="data.stats.will.value" class="form-label">WILL</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.luck.max"
      id="data.stats.luck.max"
      class="form-control"
      value="{{data.stats.luck.max}}"
      placeholder="x"
    /><label for="data.stats.luck.max" class="form-label">LUCK</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.move.value"
      id="data.stats.move.value"
      class="form-control"
      value="{{data.stats.move.value}}"
      placeholder="x"
    /><label for="data.stats.move.value" class="form-label">MOVE</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.body.value"
      id="data.stats.body.value"
      class="form-control"
      value="{{data.stats.body.value}}"
      placeholder="x"
    /><label for="data.stats.body.value" class="form-label">BODY</label>
  </div>
  <div class="form-floating">
    <input
      type="number"
      name="data.stats.emp.value"
      id="data.stats.emp.value"
      class="form-control"
      value="{{data.stats.emp.value}}"
      placeholder="x"
    /><label for="data.stats.emp.value" class="form-label">EMP</label>
  </div>
</div>

<div class="d-flex p-1"><h3>Roles</h3></div>

{{! Rockerboy}}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.rockerboy"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.charismatic_impact"
    path="roles.rockerboy.charismatic_impact.value"
    type="number"
  }}
  </div>
</div>

{{! Solo }}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.solo"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.combat_awareness"
    path="roles.solo.combat_awareness.value"
    type="number"
  }}
  </div>
</div>

{{! Netrunner }}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.netrunner"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.interface"
    path="roles.netrunner.interface.value"
    type="number"
  }}
  </div>
</div>

{{! Tech }}
<div class="d-flex p-1 flex-wrap align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.tech"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.field_expertise"
    path="roles.tech.field_expertise.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.upgrade_expertise"
    path="roles.tech.upgrade_expertise.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.fabrication_expertise"
    path="roles.tech.fabrication_expertise.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.invention_expertise"
    path="roles.tech.invention_expertise.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.maker"
    path="roles.tech.maker.value"
    type="number"
  }}
  </div>
</div>

{{! Medtech }}
<div class="d-flex p-1 flex-wrap align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.medtech"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.medicine"
    path="roles.medtech.medicine.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.surgery"
    path="roles.medtech.surgery.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.pharmaceuticals"
    path="roles.medtech.pharmaceuticals.value"
    type="number"
  }}
  </div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.cryosystem_operation"
    path="roles.medtech.cryosystem_operation.value"
    type="number"
  }}
  </div>
</div>

{{! Media}}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.media"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.credibility"
    path="roles.media.credibility.value"
    type="number"
  }}
  </div>
</div>

{{! Exec }}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.exec"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.teamwork"
    path="roles.exec.teamwork.value"
    type="number"
  }}
  </div>
</div>

{{! Lawman }}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.lawman"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.backup"
    path="roles.lawman.backup.value"
    type="number"
  }}
  </div>
</div>

{{! Fixer }}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.fixer"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.operator"
    path="roles.fixer.operator.value"
    type="number"
  }}
  </div>
</div>

{{! Nomad}}
<div class="d-flex p-1 align-items-center justify-content-between">
  <div>{{localize "cpred.sheet.roles.nomad"}}</div>
  <div>
    {{> "systems/cpred/templates/partials/attribute-input.html"
    root=actor
    name="cpred.sheet.role_abilities.moto"
    path="roles.nomad.moto.value"
    type="number"
  }}
  </div>
</div>