<div class="d-flow justify-content-between">
  <div class="d-flex">
    {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.hp resourcePath="data.attributes.hp"
    name="cpred.sheet.health" disableMax=true}}
    {{#if (eq actor.type "character")}}
      {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.stats.luck resourcePath="data.stats.luck"
      name="cpred.sheet.luck" linkMax=false disableMax=true}}
    {{/if}}
  </div>
  <div class="d-flex">
    {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.armor_body resourcePath="data.attributes.armor_body"
    name="cpred.sheet.labels.armor_body" linkMax=false disableMax=true}}
    {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.armor_head resourcePath="data.attributes.armor_head"
    name="cpred.sheet.labels.armor_head" linkMax=false disableMax=true}}
  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div class="p-1">
      <label for="damageAmount" class="form-label">Damage</label>
      <input type="number" class="form-control" id="damageAmount" placeholder="0">
    </div>
    <div class="p-1">
      <label for="armorTreatment">Armor Treatment</label>
      <select class="form-select" id="armorTreatment">
        {{selectOptions damageSources localize=true}}
      </select>
    </div>
    <div class="p-1">
      <button type="submit" class="btn btn-outline-danger" data-action="applyDamage">Apply Damage</button>
    </div>
  </div>
</div>

<hr/>

<div class="d-flex p-1"><h3>{{localize "cpred.sheet.labels.role_actions"}}</h3></div>
{{#if (gt data.roles.rockerboy.charismatic_impact.value 0)}}
  {{> "systems/cpred/templates/partials/role-rockerboy.html"}}
{{/if}}
{{#if (gt data.roles.solo.combat_awareness.value 0)}}
  {{> "systems/cpred/templates/partials/role-solo.html"}}
{{/if}}
{{#if (gt data.roles.netrunner.interface.value 0)}}
  {{> "systems/cpred/templates/partials/role-netrunner.html"}}
{{/if}}
{{#if (gt data.roles.lawman.backup.value 0)}}
  {{> "systems/cpred/templates/partials/role-lawman.html"}}
{{/if}}
{{#if (gt data.roles.fixer.operator.value 0)}}
  {{> "systems/cpred/templates/partials/role-fixer.html"}}
{{/if}}

<hr/>

<div class="d-flex p-1"><h3>{{localize "cpred.sheet.labels.weapons"}}</h3></div>
{{#each gearBlock as |gear|}}
  {{#if (eq gear.type "weapon")}}
  <div class="p-1"><h5>{{gear.name}}</h5></div>
  {{> "systems/cpred/templates/partials/weapon-action.html" action_groups=(weaponActions gear) item_id=gear.id}}
  {{/if}}
{{/each}}

<div class="d-flex p-1"><h3>{{localize "cpred.sheet.labels.programs"}}</h3></div>
{{#each gearBlock as |gear|}}
  {{#if (eq gear.type "program")}}
  <div class="d-flex align-items-center">
    <div class="me-auto p-1">{{gear.name}}</div>
    {{> "systems/cpred/templates/partials/program-action.html" action_groups=(programActions gear) item_id=gear.id}}
  </div>
  {{/if}}
{{/each}}

<div class="d-flex p-1"><h3>{{localize "cpred.sheet.labels.skills"}}</h3></div>
<div class="d-flex flex-wrap">
{{#each trainedSkills as |skill|}}
  <div class="d-flex flex-grow-1 p-1">
    <button type="button" class="btn btn-outline-primary text-nowrap" data-action="rollAction" data-value="1d10cp + @stats.{{skill.stat.name}}.value + @skills.{{skill.name}}.level">
      <i class="fas fa-dice-d6"></i> {{skill.formattedName}}
      ({{add
        (getByPath @root.data (join "." "stats" skill.stat.name "value"))
        (getByPath @root.data (join "." "skills" skill.name "level"))
      }})
    </button>
  </div>
{{/each}}
</div>