<div class="p-1 masonry-container">
  {{#each skillGroups as |group|}}
    <table class="table table-sm table-borderless skill-table masonry-item">
      <thead class="table-dark">
        <tr>
          <th scope="col" colspan="2">
            {{group.formattedName}}
            Skills
          </th>
          <th scope="col" class="stat-column text-center">
            LEVEL
          </th>
          <th scope="col" class="stat-column text-center">
            STAT
          </th>
          <th scope="col" class="stat-column text-center">
            MOD
          </th>
        </tr>
      </thead>
      <tbody class="align-middle">
        {{#each group.skills as |skill|}}
          {{#if (isnull skill.skill.subSkills)}}
            {{> "systems/cpred/templates/partials/skill/skill-row.html" skill=skill }}
          {{else}}
            {{> "systems/cpred/templates/partials/skill/skill-with-subskill-row.html" skill=skill }}
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  {{/each}}
</div>