<div class="p-1 masonry-container">
  {{#each skillGroups as |group|}}
  <table class="table table-sm table-borderless skill-table masonry-item">
    <thead class="table-dark">
      <tr>
        <th scope="col">{{group.formattedName}} Skills</th>
        <th scope="col" class="stat-column text-center">LEVEL</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      {{#each group.skills as |skill|}}
      <tr>
        <td>
          <label class="d-block">
            <a href="#" data-action="roll-skill" data-action-value="{{skill.name}}">
              <i class="fas fa-dice-d20"></i>
              <span>{{skill.formattedName}}</span>
            </a>
            <span class="float-end">
              <strong>({{skill.stat.formattedName}})</strong>
            </span>
          </label>
        </td>
        <td>
          <input type="number" class="form-control form-control-sm text-end" id="data.skills.{{skill.name}}.levels"
          name="data.skills.{{skill.name}}.levels" value="{{skill.skill.levels}}" />
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/each}}
</div>
