<div class="d-flex flex-wrap justify-content-between align-items-center p-1">
  <div class="d-flex p-1 me-auto">{{localize "cpred.sheet.roles.netrunner"}}</div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="0" label="cpred.sheet.role_actions.jack_in_out"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="0" label="cpred.sheet.role_actions.activate_deactivate_program"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.scanner"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.backdoor"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.cloak"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.control"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.eye_dee"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.pathfinder"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.slide"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.virus"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.role_actions.zap_attack"}}
  </div>
  <div class="d-flex p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d6" label="cpred.sheet.role_actions.zap_damage"}}
  </div>
</div>