<div class="d-flex flex-wrap align-items-center p-1">
  <div class="d-flex p-1 me-auto">{{localize "cpred.sheet.roles.netrunner"}}</div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="0" label="cpred.sheet.roleActions.jackInOut"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="0" label="cpred.sheet.roleActions.activateDeactivateProgram"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.scanner"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.backdoor"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.cloak"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.control"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.eyeDee"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.pathfinder"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.slide"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.virus"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d10cp + @roles.netrunner.interface.value" label="cpred.sheet.roleActions.zapAttack"}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/roll-action.html" formula="1d6" label="cpred.sheet.roleActions.zapDamage"}}
  </div>
</div>