<div class="d-flex flex-wrap justify-content-evenly">
  <div class="flex-grow-1 d-flex">
    <div class="m-1 align-self-stretch avatar-small">
      <img src="{{item.img}}" data-edit="img" />
    </div>
    <div class="d-flex flex-grow-1 flex-column">
      <div class="form-floating p-1">
        <input
          type="text"
          class="form-control"
          id="item.name"
          name="name"
          placeholder="{{localize 'cpred.sheet.name'}}"
          value="{{item.name}}"
        />
        <label for="item.name">{{localize "cpred.sheet.name"}}</label>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <div class="editor-box p-1">
    <div class="header">Description</div>
    {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
  </div>
</div>
