<div class="d-flex p-1 align-items-baseline justify-content-between">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" data-action="equipToggle" data-value="{{item.id}}" {{checked (getByPath item.data.data 'attributes.is_equipped.value')}}>
  </div>
  <div class="me-auto p-1">
    <label>{{localize item.name}}</label>
  </div>
  <div class="p-1">
    <a title="Remove item" data-action="showItem" data-value="{{item.id}}"><i class="fas fa-edit"></i></a>
  </div>
  <div class="p-1">
    <a title="Remove item" data-action="removeItem" data-value="{{item.id}}"><i class="fas fa-trash"></i></a>
  </div>
</div>