<div class="d-flex justify-content-between">
  {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.magazine resourcePath="data.attributes.magazine" name="cpred.sheet.magazine" }}

  <div class="d-flex p-1">
    <button type="button" class="btn btn-outline-primary" data-action="reload">{{localize "cpred.sheet.reload"}}</button>
  </div>
</div>

{{#each attackblock as |attack|}}
<div class="d-flex flex-wrap justify-content-start align-items-baseline">
  <div class="d-flex p-1 me-auto">{{localize attack.name}}</div>
  <div class="d-flex">
    <div class="p-1">
      <button type="button" class="btn btn-outline-primary text-nowrap" data-action="{{attack.action}}_attack">
        <i class="fas fa-dice-d6"></i> Attack
      </button>
    </div>
    <div class="p-1">
      <button type="button" class="btn btn-outline-primary text-nowrap" data-action="{{attack.action}}_damage">
        <i class="fas fa-dice-d6"></i> Damage
      </button>
    </div>
  </div>
</div>
{{/each}}
