<div class="d-flex flex-wrap justify-content-evenly">
  <div class="flex-grow-1 d-flex">
    <div class="m-1 align-self-stretch avatar-small">
      <img src="{{item.img}}" data-edit="img" />
    </div>
    <div class="d-flex flex-grow-1 flex-column">
      <div class="form-floating p-1">
        <input
          type="text"
          class="form-control"
          id="item.name"
          name="name"
          placeholder="{{localize 'cpred.sheet.name'}}"
          value="{{item.name}}"
        />
        <label for="item.name">{{localize "cpred.sheet.name"}}</label>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <div class="editor-box p-1">
    <div class="header">Description</div>
    {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
  </div>
</div>

<hr />

<div class="d-flex p-1"><h3>Attributes</h3></div>
<div class="d-flex flex-wrap justify-content-start statblock">
  {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.damage" path="attributes.damage.value" type="string"}}
  {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.rof" path="attributes.rof.value" type="number"}}
  {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.hands_required" path="attributes.hands_required.value" type="number"}}
  {{#if (eq data.attributes.is_ranged.value true)}}
    {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.magazine" path="attributes.magazine.max" type="number"}}
    {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.reload_turns" path="attributes.reload_turns.value" type="number"}}
    {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.autofire_max" path="attributes.autofire_max.value" type="number"}}
  {{/if}}
  {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.cost" path="attributes.cost.value" type="number"}}
  {{> "systems/cpred/templates/partials/attribute-checkbox.html" root=item name="cpred.sheet.weapon_stats.is_concealable" path="attributes.is_concealable.value"}}
  {{> "systems/cpred/templates/partials/attribute-checkbox.html" root=item name="cpred.sheet.weapon_stats.is_ranged" path="attributes.is_ranged.value"}}
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/attribute-select.html" root=item name="cpred.sheet.weapon_stats.type" path="attributes.type.value" choices=weaponTypes}}
  </div>
  <div class="d-flex flex-grow-1 p-1">
    {{> "systems/cpred/templates/partials/attribute-select.html" root=item name="cpred.sheet.weapon_stats.skill" path="attributes.skill.value" choices=weaponSkills}}
  </div>
</div>

<div class="d-flex flex-wrap justify-content-between">
  <div class="d-flex p-1">
    <label for="ammunition-selector">{{localize name}}</label>
    <select class="form-select" id="ammunition-selector">
      {{selectOptions ammunitionTypes selected=data.ammunition_selection localize=false}}
    </select>
    <button class="btn btn-outline-success" type="button" data-action="addAmmunitionType">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>

  {{#each data.attributes.ammunition_types as |ammo|}}
  <div class="p-1 border border-1">
    {{localize (join "." "cpred.sheet.ammunitionTypes" ammo)}}
    <a title="Remove Ammunition" data-action="removeAmmunitionType" data-value="{{ammo}}"><i class="fas fa-times"></i></a>
  </div>
  {{/each}}
</div>

<div class="d-flex flex-wrap">
  <div class="d-flex p-1">
    <select class="form-select" id="tag-selector">
      {{selectOptions weaponTags selected=data.tag_selection localize=false}}
    </select>
    <button class="btn btn-outline-success" type="button" data-action="addTag">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>

  {{#each data.tags as |tag|}}
  <div class="p-1 m-1 border border-1">
    {{localize (join "." "cpred.sheet.weaponTags" tag)}}
    <a title="Remove tag" data-action="removeTag" data-value="{{tag}}"><i class="fas fa-times"></i></a>
  </div>
  {{/each}}
</div>
