<div class="d-flex flex-wrap justify-content-evenly">
  <div class="flex-grow-1 d-flex">
    <div class="m-1 align-self-stretch avatar-small">
      <img src="{{item.img}}" data-edit="img" />
    </div>
    <div class="d-flex flex-grow-1 flex-column">
      <div class="form-floating p-1">
        <input
          type="text"
          class="form-control"
          id="item.name"
          name="name"
          placeholder="{{localize 'cpred.sheet.name'}}"
          value="{{item.name}}"
        />
        <label for="item.name">{{localize "cpred.sheet.name"}}</label>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <div class="editor-box p-1">
    <div class="header">Description</div>
    {{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
  </div>
</div>

<hr />

<div class="d-flex p-1"><h3>Attributes</h3></div>
<div class="d-flex flex-wrap justify-content-start statblock">
  {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.damage"
  path="attributes.damage.value"}} {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.rof"
  path="attributes.rof.value"}} {{> "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.hands"
  path="attributes.hands.value"}} {{#if (ne data.attributes.type.value "melee_weapon")}} {{>
  "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.reload_turns"
  path="attributes.reload_turns.value"}} {{/if}} {{#if data.properties.autofire.value}} {{>
  "systems/cpred/templates/partials/attribute-input.html" root=item name="cpred.sheet.weapon_stats.autofire_max"
  path="attributes.autofire_max.value"}} {{/if}} {{> "systems/cpred/templates/partials/attribute-input.html" root=item
  name="cpred.sheet.cost" path="attributes.cost.value"}}
</div>

<div class="d-flex flex-wrap justify-content-start">
  <div class="d-flex flex-grow-1 flex-column p-1">
    <label for="data.attributes.type.value">{{localize "cpred.sheet.weapon_type"}}</label>
    <select class="form-select" name="data.attributes.type.value">
      {{#select data.attributes.type.value}}
      <option>{{localize "cpred.sheet.select_weapon_type"}}</option>
      {{#each weapon_types}}
      <option value="{{this}}">{{localize (join "." "cpred.sheet.weapon_types" this)}}</option>
      {{/each}} {{/select}}
    </select>
  </div>

  <div class="d-flex flex-grow-1 flex-column p-1">
    <label for="data.attributes.skill.value">{{localize "cpred.sheet.combat_skill"}}</label>
    <select class="form-select" name="data.attributes.skill.value">
      {{#select data.attributes.skill.value}}
      <option>{{localize "cpred.sheet.select_weapon_skill"}}</option>
      {{#each combat_skills}}
      <option value="{{this}}">{{localize (join "." "cpred.skills" this)}}</option>
      {{/each}} {{/select}}
    </select>
  </div>
</div>

<hr />

<div class="d-flex p-1"><h3>Properties</h3></div>
{{#each propertiesblock as |property|}}
<div class="d-flex flex-grow-1 p-1">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="{{property.path}}" name="{{join "." "data" property.path}}" {{checked (getByPath
    @root.data property.path)}} />
    <label for="{{property.path}}" class="form-check-label">{{localize property.name}}</label>
  </div>
</div>
{{/each}}