<div class="d-flex justify-content-between">
  {{> "systems/cpred/templates/partials/actor-resource.html" resource=data.attributes.magazine resourcePath="data.attributes.magazine" name="cpred.sheet.magazine" }}

  <div class="d-flex p-1">
    <button type="button" class="btn btn-outline-primary" data-action="reload">{{localize "cpred.sheet.reload"}}</button>
  </div>
</div>

{{#each attackblock as |attack|}}
  {{> "systems/cpred/templates/partials/weapon-attack.html" attack=attack item_id=this.id}}
{{/each}}
