// Your custom variables
@font-face {
  font-family: "cpred-sans-serif";
  src: url("./fonts/D-DIN.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cpred-sans-serif";
  src: url("./fonts/D-DIN-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "cpred-sans-serif";
  src: url("./fonts/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

$font-family-sans-serif: cpred-sans-serif, #{$font-family-sans-serif};
