.window-content {
  //background-image: none;

  // from reset for body
  margin: 0; // 1
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: $body-text-align;
  background-color: $body-bg; // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4
  padding: 0;

  // gradient background
  @include gradient-y($cyberpunk-bg-bright, $cyberpunk-bg-dim, -50%, 100%);
}

h1,
h2,
h3,
h4 {
  margin: initial;
  padding: initial;
  border-bottom: initial;
}

input {
  &[type="text"],
  &[type="number"],
  &[type="password"],
  &[type="date"],
  &[type="time"] {
    width: initial;
    min-width: initial;
    height: initial;
    background: initial;
    padding: initial;
    margin: initial;
    color: initial;
    font-family: initial;
    font-size: initial;
    text-align: initial;
    line-height: initial;
    border: initial;
    border-radius: initial;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    &:focus {
      box-shadow: initial;
    }
  }
}

select {
  height: initial;
  background: initial;
  border: initial;
  border-radius: initial;
  padding: initial;
  text-overflow: initial;
  &:focus {
    box-shadow: initial;
    outline: initial;
  }
  &[multiple] {
    height: initial;
    padding: initial;
  }
}

img {
  box-sizing: initial;
  border: initial;
  border-radius: initial;
  max-width: initial;
}

button {
  &:hover,
  &:focus {
    box-shadow: initial;
    outline: initial;
  }
}

/// scrollbars

.window-content {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: 0 0 1px #111 inset;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 1px;
    border: none;
    background: $cyberpunk-red;
    box-shadow: 0 0 3px #111 inset;
  }
  &:root {
    scrollbar-width: thin;
    scrollbar-color: $cyberpunk-red $cyberpunk-maroon;
  }
}

&.window-app {
  border: 0.125rem solid $cyberpunk-maroon;
  box-shadow: 0 0 20px $cyberpunk-maroon-dim;
  > header.window-header {
    border-bottom: 0.125rem solid $cyberpunk-maroon;
    background-color: $cyberpunk-maroon-dim;
    font-family: $font-family-base;
    color: $cyberpunk-red;

    h4.window-title {
      color: $cyberpunk-cyan-bright;
      font-size: 1.2rem;
      text-shadow: 0 0 0.5rem $cyberpunk-cyan-bright;
      margin-bottom: 0;
      line-height: 1.5;
    }
    a:hover {
      text-shadow: 0 0 0.5rem $cyberpunk-red;
    }
  }

  .window-resizable-handle {
    background-color: $cyberpunk-maroon;
    color: $cyberpunk-red;
    border: none;
  }
}

// tables
table {
  width: initial;
  border-collapse: initial;
  background: initial;
  border-top: initial;
  border-bottom: initial;
  margin: initial;
}
table thead {
  background: initial;
  color: initial;
  text-shadow: initial;
  border-bottom: initial;
}
table tr:nth-child(even) {
  background-color: initial;
}
table td:first-child {
  padding-left: initial;
}
table td,
table th {
  padding: initial;
}
